<!DOCTYPE html>
<html>
<head>

<title>POS</title>
 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
</head>
<body style="background-color:#DCDCDC;">
<nav class="sidenavbar">
  <a  href="/home">Home</a>
      <a  href="/purchase">Prodaja </a>
      <a  href="/products">Artikli</a>
      <a  href="/purchases">Računi</a>
      <a  href="/customers">Kupci</a>
      <a  href="/admin">Admin</a>
      <a  href="/logout">Logout</a>
  </div>
</nav>
<div class="main">

<form action="/productSearch" method="POST">
<h3 class="pt-3">Pretraga proizvoda po imenu:</h3>
  <input name="name" type="text">
  <input type="submit" value="Pretraga" class="btn-primary">
</form>

<br><br>
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
       		<th>Artikal ID</th>
            <th>Naziv</th>
            <th>Cena</th>
            <th>Kolicina</th>
            <th>Rok trajanja</th>
            <th>Poreska oznaka</th>
            <th>Poreska stopa</th>
            <th></th>
            <th></th>
   </tr>
  </thead>
  <tbody>
<tr  th:each="product : ${listProduct}">
<td th:text="${product.id}"></td>
<td th:text="${product.name}"></td>
<td th:text="${product.price}"></td>
<td th:text="${product.uom}"></td>
<td th:text="${product.exp_date}"></td>
<td th:text="${product.tax_symbol}"></td>
<td th:text="${product.tax_rate}"></td> 
<td><a th:href="@{/update/{id}(id=${product.id})}"><button type='button'  class='btn-success' >Izmeni</button></a></td>
<td><a th:href="@{/delete/{id}(id=${product.id})}"><button type='button'  class='btn-danger'>Izbrisi</button></a></td>     
</tr>
  
  </tbody>
</table>
<div class="container">
<div class="row pt-5 mb-5">
<div class="col-sm-6" style="border:1px solid black;">
 <form action="/saveProduct" th:object="${product}" method="post">
 <h3>Dodaj novi proizvod:</h3>
            <tr>
            	
                  <td>  
                    <input type="text" class="form-control" placeholder="Id" name="id" id="product_id" hidden value="99999" />
                </td>
                <label class="form-label"  >Naziv</label>
                  <td>  
                    <input type="text"  class="form-control" placeholder="Naziv" name="name" id="product_name" />
                </td>
                <label class="form-label"  >Cena</label>
                <td>  
                    <input type="text"  class="form-control" placeholder="Cena" name="price" id="product_price" />
                </td>
                <label class="form-label"  >Jedinica mere</label>
                <td>  
                    <input type="text"class="form-control" placeholder="Jedinica mere" name="uom" id="product_uom" />
                </td>
                <label class="form-label" >Rok trajanja</label>
                <td>  
                    <input type="text"  class="form-control" placeholder="Rok trajanja" name="exp_date" id="product_expdate" />
                </td>
                <label class="form-label" >Poreska oznaka</label>
                <td>  
                    <input type="text"  class="form-control" placeholder="Poreska oznaka" name="tax_symbol" id="product_taxsymbol" />
                </td>
                <label class="form-label" >Poreska stopa</label>
                <td>  
                    <input type="text"  class="form-control" placeholder="Poreska stopa" name="tax_rate" id="product_taxrate"/>
                </td>
                 <tr>
            <td><input name="submit" type="submit" value="Dodaj" class="btn-primary mb-3 mt-3" /></td>
         </tr>
                
            </tr>

</form>
</div>
</div>
</div>
</div>
<script src="script.js"></script>
</body>
</html>